// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'


blue = #15a7c7
darkgrey = #6A6666
darkred = #866666
darkgreen = #66C666
orange = #C60
orangewhite = #fcf9f5
darkblue = #405077
darkblue = #338CF7 - 30%


body
    padding 0px
    margin 0px
    background-color  orangewhite - 5%

input[type=text], select
    background: #fff
    font-family: 'Maven Pro', sans-serif
    text-align: left
    font-size: 20px
    height: 40px
    width: 250px
    padding 0 10px
    -webkit-border-radius: 0.4em
    border-radius: 0.4em
    border: 0
    color: #15a7c7
    -webkit-box-shadow: 0 0 0 0
    box-shadow: 0 0 0 0
    border: 1px solid #fff
    -webkit-transition: all 0.2s
    -moz-transition: all 0.2s
    -o-transition: all 0.2s
    -ms-transition: all 0.2s
    transition: all 0.2s
    text-align center

input:hover, select:hover
    border: 1px solid #15a7c7

input:focus, select:focus
    color: #ff850a
    -webkit-box-shadow: 0 0 0 0
    box-shadow: 0 0 0 0
    border: 1px solid #ffc285
    outline none

.btn, .btn:visited
    display inline-block
    background #15a7c7
    border 1px #11869f
    font-family 'Source Sans Pro', sans-serif
    color #fff
    padding 5px
    -webkit-border-radius 4px
    border-radius 4px
    cursor pointer
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    -o-transition all 0.3s
    -ms-transition all 0.3s
    transition all 0.3s
    text-align center
    outline none

    &:hover
        color #fff
        background #ff850a
        border-color 1px solid #ff850a
        text-decoration none
        color #fff

    &:active
        -webkit-box-shadow 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0
        box-shadow 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0
        background #ef7800
        color #fff

#leave-google-log a.btn
    display block
    margin-top 40px
    font-size 1.5em

#leave-google, #leave-google-log
    margin 70px auto 10px auto
    padding 20px
    background orangewhite
    height auto
    width 100%
    max-width 600px
    border-radius 20px
    font-family 'Source Sans Pro', sans-serif

    h1
        font-size 30px
        text-align center
        margin 10px 0

    p
        font-size 18px
        font-weight normal
        margin 30px 0

    .content
        clear both

        .step-number
            text-align center
            margin 20px auto 40px auto
            width 70px
            color orangewhite
            font-size 40px
            border-radius 100px
            padding 10px
            font-family 'Maven Pro'
            background-color #4A4444


        #back-button
        #step-bigbutton a.btn
            display block
            font-weight bold
            margin auto
            width 100%
            font-size 1.6em

        #step-pastecode
            input#auth_code
                width 100%

            a.btn

                display block
                font-weight bold
                margin auto
                width 100%
                font-size 1.6em
                margin-top 10px

                &#step-pastecode-ko
                    background-color transparent
                    color #15a7c7

        #step-pickscope
            label
                display inline-block
                margin-bottom 15px
                margin-right 40px
                input
                    float left
                    margin-right 10px

            #lg-login
                display block
                width 100%
                margin auto
                margin-top 20px
                padding 10px
                font-size 1.6em
