// google icons
.google-services-icons
    flex             none
    height           48px
    width            48px
    @extend          $marged-hz-01
    background-image url('../images/sprites/google-services-sprite.png')

    &.gmail
        background-position -120px 0

    &.contacts
        background-position -168px 0

    &.calendar
        background-position -216px 0

    &.photos
        background-position -264px 0
